@(games: List[models.metabg.Game])
@main("MetaBG Engine") {

  <script src="@routes.Assets.at("javascripts/catalog.js")" type="text/javascript"></script>
  <h2>Catalog</h2>
  
  <div id="gameDiv">
    <label for="game">Select a Game:</label>
    <select id="game">
      <option value="Select">None Selected</option>
      @for(game <- games) {
        <option value="@game.getName()">@game.getName()</option>
      }
    </select>
  </div>

  <div id="tableDiv">
    <label for="table">Select a Table:</label>
    <select id="table">
      <option value="Select">None Selected</option>
    </select>
  </div>
  
  <div id="createTableDiv">
    <label for="createTable">Table Name:</label>
    <input id="createTable" type="text" size="20" maxlength="20" /><br />
    <label for="numPlayers">Number of Players:</label>
    <select id="numPlayers"></select>
    <label for="mode">Game Mode:</label>
    <select id="mode"></select>    
    <input id="create" type="button" value="Create" />
  </div>

  <div id="seatDiv">
    <label for="seat">Select a Seat</label>
    <select id="seat"></select><br />
    <label for="playerName">Player Name:</label>
    <input id="playerName" type="text" size="20" maxlength="20" />
    <input id="sit" type="button" value="Sit" />
  </div>
  
}
